@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato&family=Roboto&family=Sofia&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

:root {
  --primary-color: #45ccb8;
  --light-gray: #2b3032a1;
  --border: #2b303218;
  --text-color: #ff686b;
  --roboto: "Roboto", sans-serif;
  --gugi: "Gugi", cursive;
  --sofiq: "Sofia", cursive;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

*, *::after, *::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  outline: none;
}

.primary-color {
  color: var(--primary-color);
}

.bg-primary-color {
  background-color: var(--primary-color) !important;
}

.text-color {
  color: var(--text-color);
}

.font-roboto {
  font-family: var(--roboto);
}

.lightblue {
  color: lightblue;
}

.main-footer {
  background-color: black;
  color: white;
  font-family: var(--roboto);
}

.main-footer p {
  font-size: 0.7rem;
  font-family: var(--roboto);
  margin: 5px;
  color: var(--primary-color);
}

.main-footer p:hover {
  color: white;
}

.main-footer h4 {
  font-size: 1rem;
  font-family: var(--roboto);
  padding-top: 10px;
  padding-bottom: 20px;
}

.footer-bottom {
  border-top: 1px solid #eeeeee;
  padding-top: 10px;
  padding-bottom: 15px;
}

.social-media ul {
  display: inline-block;
}

.social-media ul li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.subscribe {
  display: inline;
  white-space: nowrap;
}

.subscribe input {
  height: 1rem;
  font-size: 0.9rem;
  border: 1px solid var(--primary-color);
  border-radius: 0;
}

.subscribe button {
  background-color: var(--primary-color);
  margin-bottom: 2px;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

a {
  text-decoration: none !important;
  color: var(--primary-color);
}

/*header*/

header {
  background-color: var(--primary-color);
  font-family: var(--roboto);
}

header .site-title {
  font-family: var(--gugi);
}

.container .dropdown-toggle, .container .dropdown-item {
  font-size: 0.7em;
}

.header-links a {
  font-size: 0.9rem;
  text-decoration: none;
  color: white;
}

main {
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

.sidebar {
  flex: 1 20rem;
}

/*banner slider*/

.banner-container:hover .slick-prev, .banner-container:hover .slick-next, .category-container:hover .slick-next, .category-container:hover .slick-prev {
  opacity: 1 !important;
}

.banner-container {
  position: relative;
}

.banner-container button {
  background-color: transparent !important;
}

.banner-container button:hover {
  background-color: transparent !important;
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1rem 0;
  list-style-type: none;
  position: absolute;
  bottom: 0 !important;
}

.slick-dots li {
  margin: 0 0.6rem !important;
}

.slick-dots button {
  display: block;
  width: 0.5rem !important;
  height: 0.5rem !important;
  padding: 0 !important;
  border: none !important;
  background-color: white !important;
  text-indent: -99999px !important;
  border-radius: 100% !important;
  outline: none !important;
}

@media screen and (max-width: 430px) {
  .slick-dots {
    bottom: -10px !important;
  }
}

.slick-dots li.slick-active button {
  transform: scale(1.8);
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.205);
}

.slick-prev, .slick-next {
  border-radius: 10rem!important;
  color: white!important;
  opacity: 0 !important;
  transition: opacity 1s ease!important;
  z-index: 99;
  width: 0px !important;
  right: 0px !important;
  padding: 1rem 1.5rem !important;
  margin: 0 1rem !important;
}

/*category slider*/

.products {
  height: 12rem;
  position: relative;
  overflow: hidden;
  outline: none;
  width: 243px;
  text-align: center!important;
}

.products img {
  width: 80%;
  height: 80%;
  margin: auto;
}

.site-btn.btn-span {
  padding: 0.8rem 1.9rem;
  border-radius: 4rem;
  border: 1px solid var(--border);
  background-color: white;
  color: var(--light-gray);
}

.slick-track .products:hover span {
  background-color: var(--primary-color);
  outline: none;
  color: white;
}

.position-top {
  position: absolute;
  top: 25%;
}

.slider-btn .prev {
  left: -10px;
}

.slider-btn .next {
  right: -10px;
}

.slider-btn .prev, .slider-btn .next {
  opacity: 1 !important;
  display: block;
  color: var(--primary-color) !important;
  z-index: 99;
}

.right-0 {
  right: 0;
}

.category-center .slick-track {
  height: 15rem;
}

.featured-center .product {
  box-shadow: none;
  transition: none;
}

.featured-center .product:hover {
  box-shadow: none;
}

.featured-center .img-container:hover {
  background: none;
}

.featured-center .position-top {
  position: absolute;
  top: 45%;
  background-color: var(--primary-color) !important;
  border-radius: 10rem;
  margin: 0 1rem;
  opacity: 1 !important;
  transition: opacity 1s ease;
}

.featured-center .product img, .featured-center .product p {
  width: 98%;
  margin: auto;
}

.featured-center .slider-btn .prev, .featured-center .slider-btn .next {
  padding: .5rem 1rem;
  border-radius: 10rem;
  margin: 0 1rem;
  opacity: 0 !important;
  transition: opacity 1s ease;
}

.featured-center .fas {
  color: white !important;
}

.featured-center .slick-slider:hover .slider-btn .prev, .featured-center .slick-slider:hover .slider-btn .next {
  opacity: 1 !important;
}

/*slider end*/

.px-2 {
  text-decoration: none !important;
}

.fas {
  color: var(--primary-color) !important;
}

/* Title */

.section-title {
  text-align: center;
}

.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.section-title div {
  width: 5rem;
  height: 2px;
  margin: 0 auto;
  margin-bottom: 2rem;
  background: var(--primary-color);
}

/* end of Title */

/* categories */

.category {
  padding: 3rem 0 0;
  text-align: center;
}

.category-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}

.category h6 {
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

.category p {
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  .category-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .category p {
    width: 100%;
  }
}

/*end of category */

/* featured */

.featured {
  text-align: center;
}

.featured-center {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}

.featured h6 {
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

@media screen and (min-width: 992px) {
  .featured-center {
    width: 95vw;
    max-width: 1170px;
  }
}

/* HTML Control start*/

a:hover {
  color: var(--mainOrange);
}

input {
  padding: 1rem;
  border: 0.1rem var(--mainGrey) solid;
  padding: 10px;
  border-radius: 10px;
}

button {
  background-color: var(--primary-color) !important;
  color: black !important;
  outline: none !important;
}

button.cartitem-addremove {
  background-color: Transparent !important;
  background-repeat: no-repeat;
  border: none;
  margin-right: 10px;
  margin-left: 10px;
  outline: none;
}

.clear-cart {
  margin-bottom: 5px;
}

.cartitem-count p {
  margin-bottom: 0 !important;
  font-weight: bold;
}

.option-button {
  border-radius: 100%;
  background-color: #b8bbd4 !important;
  text-transform: uppercase;
}

.option-button-selected {
  font-weight: bold;
  text-transform: uppercase;
}

.cartitem-counter {
  color: black;
}

.cartitem-count {
  display: flex;
}

.cartitem-remove {
  float: right;
}

.empty-cart {
  height: 20rem;
  width: 20rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.empty-cart-smile {
  height: 1rem;
  width: 1rem;
}

.empty-cart-container {
  text-align: center;
}

@media screen and (max-width: 430px) {
  .empty-cart {
    height: 10rem;
    width: 10rem;
  }
}

/* HTML Controls end*/

/* Navbar start*/

.small-cart {
  height: 2rem;
  width: 2rem;
  color: white;
  text-align: center;
}

.burger-menu {
  height: 2rem;
  width: 2rem;
  color: var(--primary-color);
  padding-left: 5px;
}

/* Navbar end*/

/* Product details modal start*/

.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 75vh;
  top: 5rem;
}

.product-details img {
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto;
}

.product-details label {
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto;
}

.product-details-description {
  flex: 1 1;
  margin: 1rem;
}

.close-modal {
  position: absolute;
  right: 0;
  top: 2rem;
  z-index: 1000;
  border-radius: 100%;
  width: 1.5rem;
  height: 2.1rem;
  background-color: white !important;
}

/* Product details modal end*/

/* product list start */

.productslist {
  margin: 10px;
}

.productslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .productslist-center {
    width: 90vw;
  }
}

@media screen and (min-width: 992px) {
  .productslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}

/* product list end */

/* Cart Details start */

.cartlist-container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template: "header header header" 60px "main main side" minmax(300px, 1fr);
  font-family: var(--roboto);
}

.cartlist-item {
  padding: 5px;
}

.summary {
  grid-area: header;
  text-align: center;
  font-weight: bold;
  background-color: #c4dbd8;
}

.details {
  grid-area: main;
}

.total {
  grid-area: side;
}

.total button {
  margin-right: 16px;
}

.total a {
  background-color: #45ccb8;
  border: 1px solid #660000;
  border-radius: 5px;
  color: #fff;
  margin-right: 10px;
  padding: 5px 5px 5px 5px;
}

.small-basket {
  bottom: 0px;
  text-align: center;
  height: 40px;
  margin-right: 10px;
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img {
  width: 5rem;
  height: 5rem;
}

.cart-items li {
  display: flex;
  background-color: beige;
  border-radius: 10px;
  margin: 0 0 3px 0;
  font-size: 0.9rem;
}

.cart-items li div {
  padding: 0.5rem;
}

.cart-items li div:last-child {
  flex: 1;
}

@media screen and (max-width: 430px) {
  .cartlist-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: start;
  }
}

@media screen and (min-width: 776px) {
  .cartlist-container {
    width: 90vw;
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  .cartlist-container {
    width: 95vw;
    max-width: 1170px;
  }
}

/* end*/

/*processing start*/

.processing-list {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 40px;
  border: 1px solid var(--primary-color);
}

.processing-list li {
  display: flex;
  justify-content: center;
  align-content: center;
  text-decoration: none;
}

.processing-list li a:last-child {
  justify-content: center;
}

.processing-list label {
  font-weight: bold;
  justify-content: center;
  align-content: center;
}

.processing-list button {
  margin-right: 16px;
}

.processing-list a {
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 430px) {
  .processing-list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: start;
  }
}

/*processing end*/

/*login form start*/

.register-form {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.register-form input, .register-form textarea {
  border: 1px solid #4ca598;
  width: 20rem;
}

.register-form li {
  display: flex;
  flex-direction: column;
}

.register-form ul {
  padding-right: 0;
}

.register-form li div:last-child {
  text-align: center;
}

.register-form button {
  margin: 10px;
}

@media screen and (max-width: 430px) {
  .register-form {
    margin: 0;
    padding: 0;
    align-items: center;
  }
}

/*register form end*/

/*login form start*/

.main-title {
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  grid-template-columns: repeat(1, minmax(500px, 1fr));
  background: #c4dbd8;
  height: 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: var(--roboto);
  @media screen and (max-width: 430px) {
    height: 20rem;
    font-size: 1rem;
    flex-direction: column;
  }
  @media screen and (min-width: 430px) and (max-width: 992px) {
    height: 15rem;
  }
  @media screen and (min-width: 992px) {
    width: 100vw;
    max-width: 1200px;
  }
}

.main-title h3 {
  padding: 20px;
  margin: 0 auto;
  font-size: 1rem;
  font-weight: bold;
  background-color: #c4dbd8;
  text-transform: uppercase;
  border-radius: 5px;
}

.login-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.login-form input {
  border: 1px solid #4ca598;
  width: 20rem;
}

.login-form li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.login-form li div:last-child {
  text-align: center;
}

.login-form button {
  margin: 10px;
}

.login-form a {
  color: #45ccb8;
}

@media screen and (max-width: 430px) {
  .login-form {
    margin: 0;
    padding: 0;
    align-items: center;
  }
}

/*login form end*/

/* Cart Details end */

.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}

/* product start */

.product {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}

.product:hover {
  box-shadow: var(--darkShadow);
}

.product button {
  float: right;
}

.img-container {
  position: relative;
}

.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}

.img-container button {
  float: right;
}

.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}

.img-container:hover img {
  opacity: 0.6;
}

.img-container:hover .price-top {
  opacity: 0;
}

.img-container:hover .price-top-right {
  opacity: 1;
}

.img-container:hover .room-link {
  transform: translate(-50%, -50%) scale(1);
}

.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(72, 72, 73, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  font-weight: bold;
  text-align: center;
  transition: var(--mainTransition);
}

.featured-center .price-top {
  position: absolute;
  top: 0;
  left: 3px;
  background: rgba(72, 72, 73, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  font-weight: bold;
  text-align: center;
  transition: var(--mainTransition);
}

.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  color: white;
}

.price-top-right {
  position: absolute;
  top: 0;
  right: 3px;
  border-bottom-left-radius: 1rem;
  font-size: 0.5rem;
  font-weight: bold;
  text-align: center;
  transition: var(--mainTransition);
  opacity: 0;
}

.price-top-right button {
  color: white !important;
}

button:active {
  background-color: black !important;
  font-family: var(--roboto) !important;
  color: var(--primary-color) !important;
}

.product-info {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-family: var(--roboto);
}

/* end of product  */

/* Checkout form */

.form-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, minmax(50vw, 1fr));
  font-weight: bold;
}

.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.form-container li div:last-child {
  text-align: center;
}

.form-container button {
  margin: 10px;
}

.form-container a {
  background-color: #1b1313;
  border: 1px solid #660000;
  border-radius: 5px;
  color: #fff;
  margin-right: 10px;
  padding: 5px 5px 5px 5px;
}

@media screen and (max-width: 430px) {
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: start;
    margin: 0;
    padding: 0;
  }
}

/* Order Details */

.order-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.order-details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-details li div {
  padding: 10px;
}

.order-details .items {
  text-align: right;
  padding: 0;
}

.order-details-img {
  width: 6rem;
  height: 6rem;
}

.success-message {
  color: green;
}

.cart {
  display: flex;
  flex-direction: column;
}

/*Alert start*/

.alert {
  opacity: 1;
  text-align: center;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/*Alert end*/

/* Orders */

.orders {
  width: 98%;
  padding: 10px;
}

tbody>tr:nth-child(odd) {
  background-color: #f0f0f0;
}

td {
  padding: 5px;
}

th {
  text-align: left;
}

/*pagination start*/

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  justify-content: center;
}

.pagination>.active>a {
  transform: scale(2.5);
  box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.205);
  border-radius: 100%;
  background-color: var(--primary-color);
  font-weight: bold;
}

.pagination>li>a {
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  outline: none;
}

.pagination>li>a, .pagination>li>span {
  color: var(--mainBlack);
}

.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span {
  border-radius: unset
}

/*pagination end*/

/*Order Details start*/

.order-details-container {
  margin: auto;
  width: 70%;
  padding: 10px;
}

.order-details-container input {
  height: 1.5rem;
  border: 1px solid #4ca598;
}

@media screen and (max-width: 430px) {
  .accordion {
    width: 335px;
  }
  .order-details-container {
    width: 100%;
    padding: 5px;
  }
  .pagination {
    margin: 10px;
    width: 275px;
  }
}

/*Order details end*/

/*carousel start*/

.carousel-style-img {
  width: 100%;
  height: 400px;
}

.rec .rec-dot_active {
  background-color: var(--mainBlack);
}

@media screen and (max-width: 430px) {
  .carousel-style-img {
    height: 200px;
  }
  .rec .rec-pagination {
    z-index: 99;
  }
}

/*carousel end */

.accordion-container {
  background-color: #c4dbd8;
}

/*Auto complete start*/

.app-component {
  padding-top: 4px;
  padding-right: 100px;
  width: 400px;
  z-index: 1;
}

@media screen and (max-width: 430px) {
  .app-component {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.autocompletetext {
  width: 100%;
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 4px 1px rgba(0, 0, 0, 0.18);
  font-family: var(--roboto);
  font-size: 14px;
  color: rgba(0, 0, 0, 0.73)
}

.autocompletetext input {
  width: 100%;
  border: none;
  font-family: var(--roboto);
  font-size: 14px;
  color: var(--darkShadow);
  outline: none !important;
}

.autocompletetext ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--primary-color);
  background-color: var(--light-gray)
}

.autocompletetext ul::before {
  content: "";
}

.autocompletetext li {
  padding: 10px 5px;
  color: var(--mainWhite);
  z-index: 60;
}

.autocompletetext li:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
}

.form-control:focus {
  box-shadow: none;
}

.btn.focus, .btn:focus {
  box-shadow: none !important;
}

.btn, .btn-sm {
  border-radius: none !important;
}

.input-group-append .btn {
  z-index: 0 !important;
}

/*Auto complete end*/

/*search order */

.search {
  display: inline-block;
  margin: 5px 5px;
  width: 350px;
}

.input-icons i {
  position: absolute;
}

.icon {
  padding: 5px;
}

.input-field {
  padding: 5px;
  font-family: var(--roboto);
  font-size: .7rem;
}

[type="search"]:focus~.fa-search {
  display: none;
}

.search input {
  height: 1.5rem;
  border: 1px solid var(--primary-color);
}

@media screen and (max-width: 430px) {
  .search {
    width: 250px;
  }
}