@media only screen and (max-width: 767px) {
    .account-login, .account-create {
        padding: 20px 0;
    }
}

@media only screen and (max-width: 767px) {
    .block-login {
        width: 300px;
    }
}

.block-login {
    float: none;
    width: 350px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    background: #fff;
    border: none;
    border-top: 6px solid var(--primary-color);
    border-radius: 2px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.10);
}

.block {
    position: relative;
    left: 0;
    right: 0;
    padding: 23px 20px;
    background: #fff;
    border: none;
    border-top: 6px solid var(--primary-color);
    border-radius: 2px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.10);
}

.slides, .flex-control-nav, .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: 0px;
}

.block-slider .slides>li {
    margin: 0;
    padding: 0;
    line-height: 1.4;
    text-align: center;
    background: none transparent;
    width: 300px;
    float: left;
    display: block;
}

@media only screen and (max-width: 767px) {
    .block-login .block-title {
        padding: 29px 8px 50px;
    }
}

.block-login .block-title {
    padding: 29px 33px 50px;
    border: 0;
    margin: 0;
    color: #000;
    color: rgba(0, 0, 0, 0.75);
    text-align: center;
}

.block .block-title {
    border: 0;
    padding: 0 0 22px;
    margin: 0 0 25px;
    color: #000;
    color: rgba(0, 0, 0, 0.75);
    word-wrap: break-word;
    border-bottom: 1px solid #ddd;
    padding: 3px 10px;
}

.block .block-title strong {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -1.2px;
    line-height: 21px;
}

.block-login .block-content {
    padding: 0 18px 25px;
}

.block-login .block-content {
    margin: 0;
    padding: 0 43px 35px;
    text-align: center;
}

form {
    margin: 0;
    display: inline;
}

.block-login .block-content ul {
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    list-style: none;
    text-align: center;
    background-size: 300px 350px;
}

.block .block-content li, .block .block-content li.item {
    margin: 0 0 0 3px;
    padding: 0 0 0 13px;
    line-height: 20px;
    background-repeat: no-repeat;
}

.block-login .block-content .form-list label {
    float: none;
    color: #505050;
    font-weight: 300;
    padding: 0;
    font-size: 12px;
}

.form-list label {
    float: left;
    color: #000;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 300;
    position: relative;
    z-index: 0;
    margin-top: 0px;
    line-height: 21px;
}

.block-login label {
    font-weight: bold;
    color: #666;
}

.form-list label {
    float: left;
    color: #111;
    font-weight: bold;
    position: relative;
    z-index: 0;
}

.block-login .block-content .form-list .input-box {
    margin: 2px 0 21px;
    width: auto;
    text-align: center;
}

.form-list .input-box {
    display: block;
    clear: both;
    width: 100%;
}

.input-box {
    border: 0;
    padding: 0;
}

.block-login input.input-text {
    margin: 0;
    display: inline;
    border-radius: 3px;
}

.block-login input.input-text {
    display: block;
    width: 167px;
    margin: 3px 0;
}

.form-list input.input-text {
    width: 100%;
}

input.input-text, textarea, input.qty {
    padding: 4px 9px;
    height: 29px;
    border: 1px solid #e0e0e0;
    -webkit-box-shadow: inset 0px 0px 5px 0px #eaeaea;
    box-shadow: inset 0px 0px 5px 0px #eaeaea;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    line-height: 19px;
    box-sizing: border-box;
    -webkit-appearance: none;
}

button.button {
    overflow: visible;
    width: auto;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
}

.block-login .block-slider .slides>li button.button {
    margin: 0;
}

.block-slider .slides>li button.button {
    margin: -21px 0 21px;
}

.block-login button.button span span {
    min-width: 70px;
}

button.button span span {
    line-height: 42px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    white-space: nowrap;
}

button.button span span {
    background-position: 100% 0;
    padding: 0 12px 0 4px;
    background-color: var(--primary-color);
}

.block-login .forgot-password {
    display: block;
    margin: 10px 0 16px;
    color: #322c29;
}

.block-login .new-users {
    position: relative;
    height: 80px;
    overflow: hidden;
    padding: 25px 0;
    background: #fefefe;
    text-align: center;
    box-shadow: inset 0px 5px 6px -4px rgba(0, 0, 0, 0.15);
}

.block-login .new-users .button {
    float: none;
}

.block-login button.button span {
    float: left;
}

.block-login button.button span {
    background: var(--primary-color) 0 0 repeat-x;
    padding: 0px;
    height: 42px;
    border-radius: 3px;
}

button.invert span {
    background-color: #393431 !important;
}

.block-login button.button span span {
    min-width: 70px;
}

.flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
    overflow: hidden;
    position: relative;
}

button.button span span {
    line-height: 42px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    white-space: nowrap;
}

button.button span span {
    background-position: 100% 0;
    padding: 0 12px 0 4px;
}

.main {
    position: relative;
    z-index: 1;
}

.row {
    margin: 0 auto;
    width: 1200px;
}

.col-main-wrap {
    padding: 0;
}

@media only screen and (max-width: 767px) {
    .col-main-wrap {
        float: none;
        padding: 20px 10px 0;
    }
}

.col-main-wrap {
    width: 100%;
    padding: 30px 15px 50px;
    box-sizing: border-box;
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
    .row {
        width: 460px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .row {
        width: 460px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 479px) {
    .row {
        width: 320px;
        margin: 0 auto;
    }
}

@media only screen and (min-width:980px) and (max-width:1280px) {
    .row {
        width: 1170px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
    .row {
        width: 750px;
    }
    .row .row {
        width: auto;
        margin: 0 -12px;
    }
}

@media only screen and (max-width: 767px) {
    .row .row {
        margin: 0 -10px;
    }
}

.account-login .slider-btn .next {
    position: absolute;
    top: 90%;
    left: 30%;
    font-size: .7rem;
    color: #322c29 !important;
}

.account-login .slider-btn .register {
    position: absolute;
    left: -5%;
    width: 110%;
    font-size: .7rem;
    color: #322c29 !important;
}

.account-login .slider-btn .next:hover {
    color: var(--primary-color) !important;
    cursor: pointer;
}

.account-login .slider-btn .prev {
    position: absolute;
    left: 38%;
    font-size: .7rem;
    color: #322c29 !important;
}

.account-login .slider-btn .prev:hover {
    color: var(--primary-color) !important;
    cursor: pointer;
}

.block-login button.button span:hover {
    background-color: #322c29;
}

button.invert span:hover {
    background-color: var(--primary-color) !important;
}

.customer-account-create h2.first {
    margin: 0;
    padding-top: 0;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.25;
}

.customer-account-create h2.legend {
    margin: 25px 0 0;
    padding-top: 15px;
}

.block .block-content li:last-child, .block .block-content li.item:last-child {
    border: 0;
}

.customer-account-create .form-list>li:first-child {
    margin-top: 17px;
}

.customer-account-create .form-list .field {
    float: none;
    width: auto;
}

@media only screen and (max-width: 1280px) {
    customer-account-create .form-list .field, .customer-account-create .form-list .field input.input-text {
        width: 100%;
    }
}

.customer-account-create .form-list .field, .customer-account-create .form-list .field input.input-text {
    width: 100%;
}

@media only screen and (max-width: 767px) {
    form-list .field {
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 979px) {
    .form-list .field, .form-list .field input.input-text {
        width: 100% !important;
        margin-right: 0;
    }
}

.form-list .field {
    float: left;
    width: 49%;
    margin-right: 2%;
}

.form-list label.required em {
    float: right;
    font-style: normal;
    color: #eb340a;
    position: absolute;
    top: 0;
    right: -8px;
}

.customer-account-create h2.legend {
    margin: 25px 0 0;
    padding-top: 15px;
}

h2 {
    color: rgba(0, 0, 0, 0.75);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.25;
}

.customer-account-create .buttons-set {
    margin: 0;
    padding: 10px;
    text-align: center;
}

.buttons-set {
    clear: both;
    padding: 5px;
}

.customer-account-create p.required {
    text-align: center;
}

.block .block-content p {
    padding: 0 0 10px;
}

.buttons-set p.required {
    margin: 5px 0 10px;
}

p.required {
    font-size: 12px;
    color: #f00;
}

.form-list li.control input.radio, .form-list li.control input.checkbox {
    vertical-align: middle;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    vertical-align: middle;
}

input.checkbox {
    margin-right: 3px;
}

.block .block-content li:last-child, .block .block-content li.item:last-child {
    border: 0;
}

.block-login .block-content li {
    margin: 0;
    padding: 0;
    background: none;
    text-align: center;
}

.block .block-content li, .block .block-content li.item {
    line-height: 20px;
}

.account-login .position-top {
    position: absolute;
    top: 100%;
}

.position-top-forgot-pwd {
    top: 90%;
}