.col-main-wrap {
    float: none;
    padding: 20px 10px 0;
    width: 100%;
    box-sizing: border-box;
}

.col-main-wrap .product-category-title {
    position: relative;
    z-index: 2;
    word-wrap: break-word;
    margin: -31px 0 30px;
    line-height: 36px;
    font-size: 36px;
    font-weight: 400;
    padding: 20px 0;
    color: #322c29;
    border-top: 1px solid;
    font-family: "Open Sans";
    border-color: rgba(227, 227, 227, 0.61);
}

.colors-available {
    width: 100%;
}

.sizes-available {
    width: 100%;
}

.products-details-container {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    flex-direction: column;
    margin: 30px;
    padding: 5px;
    margin: 0 auto;
    width: 1200px;
    column-gap: 10px;
    row-gap: 10px;
}

.product-category-title {
    flex: 1;
    order: 1;
}

.product-category-title h2 {
    text-transform: capitalize;
}

.product-category-info {
    flex: 9;
    order: 2;
}

.image-details {
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.products-info-content {
    display: flex;
    flex-direction: row;
}

.image-details {
    flex: 1;
    order: 1;
}

.product-information {
    flex: 1;
    order: 2;
}

.product-shop {
    float: none;
    width: auto;
    overflow: hidden;
    margin: 0;
}

.product-shop-info {
    overflow: hidden;
    padding: 0 0 0 30px;
}

.product-shop-info .product-name {
    margin: -4px 0 10px -1px;
    width: 100%;
}

.product-shop-info h1 {
    font-size: 30px;
    font-weight: 400;
    color: #322c29;
    letter-spacing: -1px;
    line-height: 1.22;
}

.product-shop .price-box {
    position: relative;
    white-space: nowrap;
}

.price-box {
    display: table;
    width: 100%;
}

.product-shop .price-box .regular-price {
    float: left;
}

.product-shop-info .price-box .regular-price .price {
    font-size: 25px;
    line-height: 40px;
    letter-spacing: -2px;
    margin-left: -2px;
}

.availability {
    float: left;
    clear: left;
    font-size: 12px;
    color: #73b334;
    margin: 10px 14px 0px 0px;
    text-transform: capitalize;
}

.in-stock {
    color: green;
}

.out-of-stock {
    color: red;
}

.sku, .std {
    float: left;
    font-size: 12px;
    margin: 10px 0 5px;
}

.short-description {
    margin: 10px 0 20px;
    padding: 17px 0;
    border: 1px solid;
    border-color: rgba(227, 227, 227, 0.61);
    border-left: none;
    border-right: none;
    color: rgba(0, 0, 0, 0.67);
    line-height: 1.6;
    float: left;
    width: 100%;
}

.social-links {
    margin: 10px 0 20px;
    padding: 17px 0;
    border-bottom: 1px solid;
    border-color: rgba(227, 227, 227, 0.61);
    color: rgba(0, 0, 0, 0.67);
    line-height: 1.6;
    float: left;
    width: 100%;
}

.social-links a {
    margin: 5px;
}

a:hover {
    color: black;
}

.product-shop .product-options {
    margin: 0px 0 13px;
    background: transparent;
    padding: 0;
}

p.required {
    font-size: 12px;
    text-align: left;
    font-size: 10px;
    text-align: right;
    color: #f00;
    padding: 0px 0 0;
}

.ratings {
    border-bottom: 1px solid;
    border-color: rgba(227, 227, 227, 0.61);
    width: 100%;
}

.border-bottom {
    border-bottom: 1px solid;
    border-color: rgba(227, 227, 227, 0.61);
    padding: 17px 0;
}

.choices {
    font-size: 12px;
    font-weight: bold;
}

.required-field {
    font-size: 12px;
    text-align: left;
    font-size: 10px;
    text-align: left;
    color: #f00;
    padding: 0px 0 0;
}

.add-to-box-wrap {
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: 1px solid;
    border-bottom-color: #e3e3e3;
    border-bottom-color: rgba(227, 227, 227, 0.61);
}

.qty-container {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    margin-top: 11px;
}

.add-to-box {
    display: inline-block;
    vertical-align: middle;
    width: 170px;
}

.qty-container label {
    float: left;
    margin-right: 10px;
    line-height: 30px;
    color: #000;
    color: rgba(0, 0, 0, 0.67);
}

.qty-wrap {
    width: 58px;
    float: left;
}

.qty-wrap input {
    float: left;
    width: 40px;
}

input.qty {
    padding: 4px 9px;
    height: 29px;
    border: 1px solid #e0e0e0;
    box-shadow: inset 0px 0px 5px 0px #eaeaea;
    border-radius: 3px;
    line-height: 19px;
    box-sizing: border-box;
}

.rating-links .separator {
    margin: 0 2px;
    font-weight: 300;
    font-size: 12px;
    color: #d9d9d9;
}

.separator {
    margin: 0 3px;
}

.qty-elements {
    float: left;
}

a.increment_qty {
    background-position: 0 -18px;
    margin-top: 0;
    margin-bottom: 1px;
    color: white;
}

.qty-elements a {
    display: block;
    background-color: var(--primary-color);
    width: 16px;
    height: 14px;
    margin-left: 2px;
    border-radius: 3px;
    box-sizing: border-box;
    text-decoration: none;
    color: #828282;
    text-decoration: none;
    outline: none
}

a.decrement_qty {
    background-position: 17px -18px;
}

.qty-elements .fa {
    position: relative;
    left: 4px;
    bottom: 4px;
    color: white;
}

.add-to-cart button.button {
    float: left;
    margin-bottom: 5px;
    overflow: visible;
    width: auto;
    border: 0;
    padding: 0;
    margin: 0;
    background: var(--primary-color);
    line-height: normal;
    font-size: 100%;
    vertical-align: baseline;
    font-family: sans-serif;
    color: #222;
    font: 12px Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.qty-container label {
    float: left;
    margin-right: 10px;
    line-height: 30px;
    color: #000;
    color: rgba(0, 0, 0, 0.67);
}

.qty-wrap {
    width: 58px;
    float: left;
}

.qty-wrap input {
    float: left;
    width: 40px;
    padding: 4px 9px;
    height: 29px;
    border: 1px solid #e0e0e0;
    box-shadow: inset 0px 0px 5px 0px #eaeaea;
    border-radius: 3px;
    line-height: 19px;
    box-sizing: border-box;
}

.add-to-links {
    margin: 20px 0 0;
    padding: 0;
}

.add-to-links li {
    padding-left: 53px;
    margin: 0 0 0 20px;
    float: left;
}

.add-to-links a {
    font-size: .5r7;
    font-weight: 400;
    position: relative;
    bottom: 20px;
}

.add-to-links li .fa {
    margin: 7px;
    color: white;
}

.addthis_toolbox {
    padding: 17px 0;
}

.size-popup {
    text-transform: uppercase;
    font-size: .8rem;
}

.add-to-links li span.icon {
    display: block;
    float: left;
    overflow: hidden;
    margin: 2px;
    margin-left: -53px;
    width: 38px;
    height: 38px;
    background-color: black;
    background-position: -39px -90px;
    border-radius: 100% !important;
}

.add-to-box .btn {
    background-color: var(--primary-color);
    color: white;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .products-details-container {
        width: 460px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 479px) {
    .products-details-container {
        width: 320px;
        margin: 0 auto;
    }
}

@media only screen and (min-width:980px) and (max-width:1280px) {
    .products-details-container {
        width: 960px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 979px) {
    .products-details-container {
        width: 750px;
    }
}