@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

html {
  font-size: 60.5%;
  box-sizing: border-box;
}

body, #root {
  height: 100vh;
  margin: 0;
}

body, input, select, button, textarea {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: rgb(46, 36, 66);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

.sidebar {
  flex: 1 20rem;
}

.filter-container {
  position: fixed;
  right: 0;
  background: #f84323;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  z-index: 75;
}

.form-row {
  display: flex;
  flex-direction: column;
  padding: 0 4px;
  justify-content: center;
}

/* Create four equal columns that sits next to each other */

.form-column {
  padding: 0 4px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

/* Create four equal columns that sits next to each other */

.column1 {
  flex: 25%;
  max-width: 75%;
  padding: 0 4px;
}

.column2 {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  float: right;
}

/* Responsive layout - makes a two column-layout instead of four columns */

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.cartitem-count {
  display: flex;
  flex-direction: row;
  height: 4rem;
  align-items: baseline;
}

.cartitem-count p {
  font-size: small;
  font-weight: bold;
  width: 2rem;
  text-align: center;
}

.cartitem-count button {
  height: 2rem;
  width: 2.6rem;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

/* products */

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: fit-content;
  transition: var(--mainTransition);
  border-radius: 12px;
  background-color: aliceblue;
}

.product:hover {
  box-shadow: var(--darkShadow);
}

.product img {
  max-width: 30rem;
  max-height: 30rem;
}

.img-container {
  position: relative;
}

.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}

.img-container p {
  font-weight: bold;
  color: brown;
}

.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(22, 4, 126, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}

.addtocart-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}

.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}

.small-cart {
  height: 6rem;
  width: 3rem;
  position: absolute;
  @media screen and (max-width: 430px) {
    height: 6rem;
    width: 3rem;
    position: absolute;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.products li {
  flex: 0 1 22rem;
  height: 34rem;
  padding: .5rem
}

.button {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
  font-size: 1.2rem;
}

.button.clear:hover {
  font-weight: bold;
}

.button.clear:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.button.clear {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #e90606;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
}

.button.remove:hover {
  font-weight: bold;
}

.button.remove:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.button.remove {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #e98706;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
}

.button.selected {
  background-color: #a7fccd;
  font-weight: bold;
}

.button.selected:hover {
  font-weight: bold;
}

.button.selected:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.button.proceed:hover {
  font-weight: bold;
}

.button.proceed:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.button.proceed {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3a9455;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
}

.button.primary:hover {
  font-weight: bold;
}

.button.primary:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.button.primary {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #008488d4;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px #999;
}

.aboutus {
  display: flex;
}

.aboutus div {
  flex: 1;
  width: 100%;
  align-content: center;
}

.aboutus a {
  width: 100%;
}

.aboutus img {
  width: inherit;
}

/* Index.css */

.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}

.cart-header {
  position: relative;
  background: #ecc085;
  color: black;
  font-weight: bold;
  border-radius: .4em;
}

.cart-header:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #ecc085;
  border-bottom: 0;
  margin-left: -20px;
  margin-bottom: -20px;
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img {
  width: 5rem;
}

.cart-items li {
  display: flex;
}

.cart-items li div {
  padding: 0.5rem;
}

.cart-items li div:last-child {
  flex: 1;
}

.right {
  text-align: right;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.total>div {
  font-size: 2rem;
}

.total>div, .total>button {
  flex: 1;
}

/* Checkout form */

.form-container {
  width: 100%;
  padding: 0;
  list-style-type: none;
  border-radius: 10px;
  border-style: ridge;
  padding: 0 4px;
  justify-content: center;
}

.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

label {
  font-weight: bold;
  color: rgb(2, 2, 43);
}

input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  padding: 10px;
  border-radius: 10px;
  outline: none;
}

/* Product Details */

.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;
}

.product-details img {
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto;
}

.product-details label {
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto;
}

.product-details-description {
  flex: 1 1;
  margin: 1rem;
}

.close-modal {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}

/* Order Details */

.order-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.order-details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-details li div {
  padding: 10px;
}

.order-details .items {
  text-align: right;
  padding: 0;
}

.success-message {
  color: green;
}

.cart {
  display: flex;
  flex-direction: column;
}

/* Orders */

.orders {
  width: 98%;
  padding: 10px;
}

tbody>tr:nth-child(odd) {
  background-color: #f0f0f0;
}

td {
  padding: 5px;
}

th {
  text-align: left;
}