@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --header: #203040;
  --footer: gray;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainOrange: #ff8000;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 2px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body, #root {
  height: 100vh;
  margin: 0;
}

body, input, select, button, textarea {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  outline: none;
}

a:hover {
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

header {
  grid-area: header;
  background-color: var(--header);
  color: var(--mainWhite);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

header a {
  color: var(--mainWhite);
  text-decoration: none;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: var(--footer);
  color: var(--mainWhite);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

.sidebar {
  flex: 1 20rem;
}

/* HTML Control start*/

a {
  text-decoration: none;
}

a:hover {
  color: var(--mainOrange);
}

input {
  padding: 1rem;
  border: 0.1rem var(--mainGrey) solid;
  padding: 10px;
  border-radius: 10px;
}

button {
  background-color: var(--mainBlack);
  color: var(--mainWhite);
  cursor: pointer;
  border-radius: 10px;
  font-weight: 900;
}

button:active {
  background: var(--mainWhite);
  outline: none;
}

button.cartitem-addremove {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
}

.option-button {
  background-color: lightgray;
  color: var(--mainBlack);
}

.option-button-selected {
  background-color: #7a82d1;
  font-weight: bold;
}

.cartitem-counter {
  color: black;
}

.cartitem-count {
  display: flex;
}

.cartitem-remove {
  float: right;
}

.filter-container {
  position: fixed;
  right: 0;
  background: var(--mainBlack);
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  z-index: 75;
}

.empty-cart {
  height: 30rem;
  width: 30rem;
}

.empty-cart-smile {
  height: 3rem;
  width: 3rem;
}

/* HTML Controls end*/

/* Navbar start*/

.small-cart {
  height: 3rem;
  width: 3rem;
  position: fixed;
}

.burger-menu {
  height: 2rem;
  width: 2rem;
}

/* Navbar end*/

/* Product details modal start*/

.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 75vh;
  top: 5rem;
}

.product-details img {
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto;
}

.product-details label {
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto;
}

.product-details-description {
  flex: 1 1;
  margin: 1rem;
}

.close-modal {
  position: absolute;
  top: 60px;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}

/* Product details modal end*/

/* product list start */

.productslist {
  padding: 5rem 0;
}

.productslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .productslist-center {
    width: 90vw;
  }
}

@media screen and (min-width: 992px) {
  .productslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}

/* product list end */

/* Cart Details start */

.cartlist {
  padding: 5rem 0;
}

.cartlist-container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template: "header header header" 60px "main main side" 1fr;
}

.cartlist-item {
  padding: 20px;
}

.summary {
  grid-area: header;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  background-color: lightgray;
}

.details {
  grid-area: main;
}

.total {
  grid-area: side;
}

.total button {
  margin-right: 16px;
}

.total a {
  background-color: #1b1313;
  border: 1px solid #660000;
  border-radius: 5px;
  color: #fff;
  margin-right: 10px;
  padding: 5px 5px 5px 5px;
}

.small-basket {
  bottom: 0px;
  text-align: center;
  height: 40px;
  margin-right: 10px;
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img {
  width: 11rem;
}

.cart-items li {
  display: flex;
  background-color: beige;
  border-radius: 10px;
  margin: 0 0 3px 0;
  font-weight: bold;
}

.cart-items li div {
  padding: 0.5rem;
}

.cart-items li div:last-child {
  flex: 1;
}

@media screen and (max-width: 430px) {
  .cartlist-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: start;
  }
}

@media screen and (min-width: 776px) {
  .cartlist-container {
    width: 90vw;
  }
}

@media screen and (min-width: 992px) {
  .cartlist-container {
    width: 95vw;
    max-width: 1170px;
  }
}

/* end*/

/*processing start*/

.processing-list {
  display: flex;
  justify-content: center;
  align-content: center;
}

.processing-list li {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-content: center;
  text-decoration: none;
}

.processing-list label {
  font-weight: bold;
  justify-content: center;
  align-content: center;
}

.processing-list button {
  margin-right: 16px;
}

.processing-list a {
  background-color: #1b1313;
  border: 1px solid #660000;
  border-radius: 5px;
  color: #fff;
  margin-right: 10px;
  padding: 5px 5px 5px 5px;
}

@media screen and (max-width: 430px) {
  .processing-list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: start;
  }
}

/*processing end*/

/*login form start*/

.register-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  align-content: start;
  width: 50rem;
}

.register-form li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.register-form li div:last-child {
  text-align: center;
}

.register-form button {
  margin: 10px;
}

.register-form a {
  background-color: #1b1313;
  border: 1px solid #660000;
  border-radius: 5px;
  color: #fff;
  margin-right: 10px;
  padding: 5px 5px 5px 5px;
}

@media screen and (max-width: 430px) {
  .register-form {
    width: 30rem;
  }
}

/*register form end*/

/*login form start*/

.login-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  align-content: start;
  width: 50rem;
}

.login-form li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.login-form li div:last-child {
  text-align: center;
}

.login-form button {
  margin: 10px;
}

.login-form a {
  background-color: #1b1313;
  border: 1px solid #660000;
  border-radius: 5px;
  color: #fff;
  margin-right: 10px;
  padding: 5px 5px 5px 5px;
}

@media screen and (max-width: 430px) {
  .login-form {
    margin: 0;
    padding: 0;
    width: 30rem;
  }
}

/*login form end*/

/* Cart Details end */

.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}

/* product start */

.product {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}

.product button {
  float: right;
  font-size: small;
}

.product:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}

.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}

.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(72, 72, 73, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  font-weight: bold;
  text-align: center;
  transition: var(--mainTransition);
}

.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}

.img-container:hover img {
  opacity: 40;
}

.img-container:hover .price-top {
  opacity: 0;
}

.product-info {
  text-transform: capitalize;
  text-align: start;
  font-weight: bold;
}

/* end of product  */

/* Checkout form */

.form-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, minmax(50vw, 1fr));
  font-weight: bold;
}

.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.form-container li div:last-child {
  text-align: center;
}

.form-container button {
  margin: 10px;
}

.form-container a {
  background-color: #1b1313;
  border: 1px solid #660000;
  border-radius: 5px;
  color: #fff;
  margin-right: 10px;
  padding: 5px 5px 5px 5px;
}

@media screen and (max-width: 430px) {
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: start;
    margin: 0;
    padding: 0;
  }
}

/* Order Details */

.order-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.order-details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-details li div {
  padding: 10px;
}

.order-details .items {
  text-align: right;
  padding: 0;
}

.order-details-img {
  width: 6rem;
  height: 6rem;
}

.success-message {
  color: green;
}

.cart {
  display: flex;
  flex-direction: column;
}

/*Alert start*/

.alert {
  opacity: 1;
  text-align: center;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/*Alert end*/

/* Orders */

.orders {
  width: 98%;
  padding: 10px;
}

tbody>tr:nth-child(odd) {
  background-color: #f0f0f0;
}

td {
  padding: 5px;
}

th {
  text-align: left;
}

/*pagination start*/

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
  justify-content: center;
}

.pagination>.active>a {
  background-color: var(--mainBlack);
  border-color: var(--mainBlack);
  color: #fff;
}

.pagination>li>a {
  border: 1px solid var(--mainBlack);
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  background-color: var(--mainBlack);
  border-color: var(--mainBlack);
  outline: none;
}

.pagination>li>a, .pagination>li>span {
  color: var(--mainBlack);
}

.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span {
  border-radius: unset
}

/*pagination end*/

/*animation start*/

.thought {
  display: flex;
  background-color: gray;
  padding: 20px;
  border-radius: 30px;
  min-width: 40px;
  max-width: 400px;
  min-height: 40px;
  margin: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--mainWhite);
}

.thought a {
  background-color: lightgray;
  border: 1px solid #660000;
  border-radius: 5px;
  color: var(--mainBlack);
  margin-right: 10px;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
}

.thought:before, .thought:after {
  content: "";
  background-color: lightgray;
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: -1;
}

.thought:before {
  width: 44px;
  height: 44px;
  top: -12px;
  left: 28px;
  box-shadow: -50px 30px 0 -12px lightgray;
}

.thought:after {
  bottom: -10px;
  right: 26px;
  width: 30px;
  height: 30px;
  box-shadow: 40px -34px 0 0 lightgray, -28px -6px 0 -2px lightgray, -24px 17px 0 -6px lightgray, -5px 25px 0 -10px lightgray;
}

/*animation end*/

/*Order Details start*/

.order-details-container {
  margin: auto;
  width: 70%;
  border: 1px solid rgb(42, 48, 42);
  padding: 10px;
}

/*Order details end*/

/*carousel start*/

.carousel-style-img {
  width: 100%;
  height: 400px;
}

.rec .rec-dot_active {
  background-color: var(--mainBlack);
}

@media screen and (max-width: 430px) {
  .carousel-style-img {
    height: 200px;
  }
  .rec .rec-pagination {
    z-index: 99;
  }
}

/*carousel end */