@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --header: #203040;
  --footer: gray;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainOrange: #ff8000;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 2px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body, #root {
  height: 100vh;
  margin: 0;
}

body, input, select, button, textarea {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  outline: none;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

header {
  grid-area: header;
  background-color: var(--header);
  color: var(--mainWhite);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

header a {
  color: var(--mainWhite);
  text-decoration: none;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: var(--footer);
  color: var(--mainWhite);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

.sidebar {
  flex: 1 20rem;
}

/* HTML Control start*/

a {
  text-decoration: none;
}

a:hover {
  color: var(--mainOrange);
}

input {
  padding: 1rem;
  border: 0.1rem var(--mainGrey) solid;
  padding: 10px;
  border-radius: 10px;
}

button {
  background-color: var(--mainBlack);
  color: var(--mainWhite);
  cursor: pointer;
  border-radius: 10px;
}

button:active {
  background: var(--mainWhite);
  outline: none;
}

button.cartitem-addremove {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
}

.option-button {
  background-color: lightgray;
  color: var(--mainBlack);
}

.option-button-selected {
  background-color: #7a82d1;
  font-weight: bold;
}

.cartitem-counter {
  color: black;
}

.cartitem-count {
  display: flex;
}

.cartitem-remove {
  float: right;
}

.filter-container {
  position: fixed;
  right: 0;
  background: #f84323;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  z-index: 75;
}

/* HTML Controls end*/

/* Navbar start*/

.small-cart {
  height: 6rem;
  width: 3rem;
  position: absolute;
}

/* Navbar end*/

/* Product details modal start*/

.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 75vh;
  top: 5rem;
}

.product-details img {
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto;
}

.product-details label {
  max-height: 100vh;
  max-width: 46rem;
  margin: 0 auto;
}

.product-details-description {
  flex: 1 1;
  margin: 1rem;
}

.close-modal {
  position: absolute;
  top: 60px;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}

/* Product details modal end*/

/* product list start */

.productslist {
  padding: 5rem 0;
}

.productslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .productslist-center {
    width: 90vw;
  }
}

@media screen and (min-width: 992px) {
  .productslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}

/* product list end */

/* Cart Details start */

.cartlist {
  padding: 5rem 0;
}

.cartlist-container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template: "header header header" 60px "main main side" 1fr;
}

.cartlist-item {
  padding: 20px;
}

.summary {
  grid-area: header;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  background-color: lightgray;
}

.details {
  grid-area: main;
}

.total {
  grid-area: side;
}

.total button {
  margin-right: 16px;
}

.small-basket {
  bottom: 0px;
  text-align: center;
  height: 40px;
  margin-right: 10px;
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img {
  width: 11rem;
}

.cart-items li {
  display: flex;
  background-color: beige;
  border-radius: 10px;
  margin: 0 0 3px 0;
  font-weight: bold;
}

.cart-items li div {
  padding: 0.5rem;
}

.cart-items li div:last-child {
  flex: 1;
}

@media screen and (max-width: 430px) {
  .cartlist-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: start;
  }
}

@media screen and (min-width: 776px) {
  .cartlist-container {
    width: 90vw;
  }
}

@media screen and (min-width: 992px) {
  .cartlist-container {
    width: 95vw;
    max-width: 1170px;
  }
}

/* Cart Details end */

.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}

/* product start */

.product {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}

.product button {
  float: right;
}

.product:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}

.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}

.price-top {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(72, 72, 73, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  font-weight: bold;
  text-align: center;
  transition: var(--mainTransition);
}

.price-top h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}

.img-container:hover img {
  opacity: 40;
}

.img-container:hover .price-top {
  opacity: 0;
}

.product-info {
  text-transform: capitalize;
  text-align: start;
  font-weight: bold;
}

/* end of product  */

/* Checkout form */

.form-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, minmax(50vw, 1fr));
  font-weight: bold;
}

.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.form-container li div:last-child {
  text-align: center;
}

.form-container button {
  margin: 10px;
}

@media screen and (max-width: 430px) {
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: start;
    margin: 0;
    padding: 0;
  }
}

/* Order Details */

.order-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.order-details li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-details li div {
  padding: 10px;
}

.order-details .items {
  text-align: right;
  padding: 0;
}

.success-message {
  color: green;
}

.cart {
  display: flex;
  flex-direction: column;
}

/* Orders */

.orders {
  width: 98%;
  padding: 10px;
}

tbody>tr:nth-child(odd) {
  background-color: #f0f0f0;
}

td {
  padding: 5px;
}

th {
  text-align: left;
}